
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Righteous&display=swap');
/* Fonts de google
font-family: 'Bebas Neue', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Righteous', cursive;

#212121;// negro 33
#350808 // burdeos muy oscuro para hovers */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
}
img {
    width: 100%;
    margin-bottom: 10px;
}




/*--nav de bootstrap--*/


.letra1-titulo{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    padding: 5px 60px;
    text-decoration: none;
}
.letra1-titulo:hover{
    color: yellow;
}
.opciones-paginas{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding: 10px ;
    padding-left: 60px;
    text-decoration: none;
}


/*---Iconos, logi-buscador-favoritos-carrito*/



#boton-carrito {
    border: none;
    color: #fff;
    font-size: 40px;
    background-color:#222121;
    margin-right: 300px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 249, 21);
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}
.boton-agregar {
    font-family: 'Bebas Neue', cursive;
    background-color: #fff;
    color: #212121;
    font-size: 30px;
    font-weight: 50px;
    padding: 5px 70px;
    border: black solid 1px;
}
.boton-agregar:hover {
    cursor: pointer;
    background-color:yellow;

}
.boton-agregar:focus {
    outline: none;
}

/*--Modal del carrito */

.modal-contenedor {
    position: fixed;
    top: 0;
    right: 0%;
    min-height: 100vh;
    padding:10px 20px 400px;
    background-color: rgba(192, 32, 32, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
   
}

.modal-carrito {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    background-color: rgb(250, 249, 249);
    min-width: 600px;
    padding: 50px;
    height:100%;
    transition: all .5s;
}
.ventana-carrito-img{
    width:100%;
    height:300px;
    object-fit: contain;
    padding:10px;
}

.modal-active .modal-carrito {
    margin-top:0;
}


.modal-carrito h3 {
    color: rgb(33,33,33,);
    font-size:30px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    color: rgb(14, 14, 15);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito img{
    width:100px;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 30px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    font-size: 26px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: yellow;
    color:#212121;
  }