
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Righteous&display=swap');
/* Fonts de google
font-family: 'Bebas Neue', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Righteous', cursive;

#212121;// negro 33
#350808 // burdeos muy oscuro para hovers */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
}
img {
    width: 100%;
    margin-bottom: 10px;
}




/*--nav de bootstrap--*/


.letra1-titulo{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    padding: 5px 60px;
    text-decoration: none;
}
.letra1-titulo:hover{
    color: yellow;
}
.opciones-paginas{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    padding: 10px ;
    padding-left: 60px;
    text-decoration: none;
}


/*---Iconos, logi-buscador-favoritos-carrito*/


/* estilos a los producots de json*/


#boton-carrito {
    border: none;
    color: #fff;
    font-size: 40px;
    background-color:#222121;
    margin-right: 300px;
    transition: all .3s;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(241, 249, 21);
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
}
.boton-agregar {
    font-family: 'Bebas Neue', cursive;
    background-color: #fff;
    color: #212121;
    font-size: 30px;
    font-weight: 50px;
    padding: 5px 70px;
    border: none;
}
.boton-favoritos{
    font-family: 'Bebas Neue', cursive;
    background-color: #fff;
    color: #212121;
    font-size: 26px;
    font-weight: 50px;
    padding: 5px 70px;
    border:none;
}
.boton-favoritos:hover{
    cursor: pointer;
    background-color:pink;

}
.boton-agregar:hover {
    cursor: pointer;
    background-color:yellow;

}
.boton-agregar:focus {
    outline: none;
}

.boton-favoritos:focus{
    outline: none;
}



/*--Modal del carrito */

.modal-contenedor {
    position: fixed;
    top: 0;
    padding-top: 200px;
    right: 0%;
    height: 100%;
    padding:10px 20px 50px;
    background-color: rgba(192, 32, 32, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
   
}

.modal-carrito {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    background-color: rgb(250, 249, 249);
    min-width: 600px;
    padding: 50px;
    height:100%;
    transition: all .5s;
}
.ventana-carrito-img{
    width:100%;
    height:300px;
    object-fit: contain;
    padding:10px;
}

.modal-active .modal-carrito {
    margin-top:50px;
}


.modal-carrito h3 {
    color: rgb(33,33,33,);
    font-size:30px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top:120px;
    right: 15px;
    font-size: 40px;
    color: rgb(14, 14, 15);
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito img{
    width:100px;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 30px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    font-size: 26px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: yellow;
    color:#212121;
  }

 /*Banner Final el que aparece en la portada */

 .bannerfinal{
    position: fixed;
     top:20px;
     left:200px;
     width:800px;
     height:510px;
     margin-top:3px;
     background-color: yellow;
     z-index: 9999;
     transition: 3s;
     transform: scale(1);
 }
 
 .bannerfinal-contenido{
     position:absolute;
     top:50%;
     left: 50%;
     width: 90%;
     margin: 0 auto;
     height: 55rem;
     transform: translate(-50%, -50%);
     padding:25px;
     display: table;
     overflow: hidden;
     background-color: white;
 }
 
 .bannerfinal-close{
     display: flex;
     align-items: center;
     justify-content: center;
     position: absolute;
     top:36px;
     right:36px;
     padding: 0.5rem;
     background-color:#212121;    border-radius: 50%;
     cursor: pointer;
     color:rgb(247, 243, 243);
     font-size:46px;
 
 }
 .bannerfinal-left{
     display:table-cell;
     width: 50%;
     height: 100%;
     vertical-align: middle;
 }  
 .bannerfinal-right{
     display:table-cell;
     width: 50%;
     height: 100%;
     vertical-align: middle;
     padding: 3rem 5rem;
 }  
 .bannerfinal-img-contenido{
     width: 100%;
     overflow: hidden;
 }
 
 
 .bannerfinal-img img{
     display: block;
     width:60rem ;
     height:30rem;
     max-width:100%;
     border-radius: 16px;
     object-fit: cover;
 }
 
 
 .right-contenido {
     text-align: center;
     width: 85%;
     margin:0 auto;
 }
 .right-contenido h1{
     font-size:4rem;
     color:#212121;
     margin-bottom: 24px;
 }
 .right-contenido h1 span{
     color: yellow;
 }
 .right-contenido p {
     font-size:24px;
     color:#212121;
     margin-bottom: 24px;
 }
 .bannerfinal-form{
     width: 100%;
     padding:24px 0;
     text-indent: 16px;
     margin-bottom:28px;
     border-radius:42px;
     background-color:yellow;
     color:white;
     font-size: 24px;
     border:none;
 }
 bannerfinal-form::placeholder{
     color:white;
 }
 
 .bannerfinal:focus{
     outline:none;
 }
  
 #click-correo{
     background-color:#212121;
     color:white;
     border: none;
     height:50px;
     width:200px;
 }
 
 .right-contenido a:link,
 .right-contenido a:visited{
     display: inline-block;
     padding:16px 8px;
     border-radius: 13px;
 
 
 }
 
 .hide-popup{
     transform: scale(0.2);
     opacity:0 ;
     visibility:hidden;
 }
 